@model CodeFirst_LaptrinhWeb.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/Login.css">
</head>

<div id="main">
    <div class="img-logo">
        <a href="#"><img src="~/Data/img/logo.jpg" alt="logo"></a>
    </div>
    <div id="form_dangnhap">
        <h4><strong>Đăng nhập</strong></h4>
        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            <div class="mb-3">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Password)
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <button type="submit" class="btn_dangnhap">Đăng nhập</button>
            </div>
        }
    </div>
    <div class="dangki mt-16"><button class="btn_dangki"><a style="text-decoration: none;" href="/User/Resigter"><p style="margin-bottom: 0px;">Tạo tài khoản Betta Shop</p></a></button></div>
</div>
